.anagram-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto 0;
  background: repeating-linear-gradient(
    45deg,
    #00A1E4,
    #00A1E4 80px,
    #DC0073 80px,
    #DC0073 160px
  );
}

.anagram-inner-container {
  margin-top: 10vh;
  padding: 5vh;
  height: 80vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anagram-header {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.anagram-play-button-container {
  margin-top: 16vh;
}

.anagram-button {
  background-color: #DC0073;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 16vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.anagram-button:hover {
  color: black;
  cursor: pointer;
}

.anagram-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20vh;
}

.anagram-word {
  color: white;
  font-size: 56px;
}

.anagram-response-container {
  display: flex;
  margin-top: 10vh;
}

#user-anagram-guess {
  width: 20vw;
  margin-right: 4vw;
}

.anagram-result-start {
  color: white;
  margin-top: 8vh;
  font-size: 24px;
}

.anagram-result-correct {
  background-color: #89FC00;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 15vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.anagram-play-again-button {
  color: #DC0073;
  font-size: 32px;
  animation: blink 3s linear infinite;
  animation-delay: blink 2s;
}

.anagram-play-again-button:hover {
  color: white;
  cursor: pointer;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}
