.flash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background: repeating-linear-gradient(
    -45deg,
    #DC0073,
    #DC0073 80px,
    #89FC00 80px,
    #89FC00 160px
  );
}

.flash-inner-container {
  display: flex;
  margin: 0 auto;
}

.flash-black-box {
  padding: 5vh;
  height: 80vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flash-header {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.flash-play-button-container {
  margin-top: 16vh;
}

.flash-button {
  background-color: #DC0073;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 16vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.flash-button:hover {
  color: black;
  cursor: pointer;
}

.flash-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -16vh;
}

.flash-start-msg {
  color: #DC0073;
  font-size: 104px;
  margin-top: 8vh;
}

.flash-table {
  margin-top: -12vh;
}

.flash-grid {
  border: 2px solid white;
  height: 8vh;
  width: 8vh;
}

.flash-score-container {
  color: white;
  font-size: 32px;
}

.flash-game {
  display: flex;
  flex-direction: row;
  width: 80%;
}
