.hangman-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto 0;
  background: repeating-linear-gradient(
    -45deg,
    #00A1E4,
    #00A1E4 80px,
    #89FC00 80px,
    #89FC00 160px
  );
}

.hangman-inner-container {
  margin-top: 10vh;
  padding: 5vh;
  height: 80vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hangman-play-button-container {
  margin-top: 16vh;
}

.hangman-header {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.hangman-button {
  background-color: #00A1E4;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 16vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.hangman-button:hover {
  color: black;
  cursor: pointer;
}

.hangman-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20vh;
}

.hangman-word {
  color: white;
  font-size: 56px;
}

.hangman-alphabet {
  color: white;
  font-size: 32px;
}

.hangman-alphabet-1 {
  margin-top: 4vh;
}

.hangman-alphabet-1, .hangman-alphabet-2 {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.fa-solid-hangman {
  color: #89FC00;
  font-size: 72px;
}

.hangman-lives {
  display: flex;
  justify-content: space-between;
  width: 44vw;
  margin-top: 4vh;
}

.hangman-alphabet-letter-test {
  color:White;
}
