// Specific CSS for your home-page
// #F5B700
// #00A1E4
// #DC0073
// #89FC00

body {
  background-color: #89FC00;
}

h1 {
  font-family: 'Quantico';
  color: #00A1E4;
}

a {
  text-decoration: none;
}
