// Specific CSS for your home-page
// #F5B700 yellow
// #00A1E4 blue
// #DC0073 pink
// #89FC00 green

:root {
  --color-pink: #DC0073;
  --color-blue: #00A1E4;
  --color-green: #89FC00;
}

body {
  background-color: #89FC00;
}

h1, h2, h3, h4, p, a, button, div {
  font-family: 'Quantico';
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 800ms, opacity 800ms;
}

.fade-out-slow {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2000ms, opacity 2000ms;
}

.fade-in {
  visibility: visible;
  opacity: 100;
  transition: visibility 0s linear 800ms, opacity 800ms;
}

.hidden-delay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 2s ease;
}
