.mine-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background: repeating-linear-gradient(
    -45deg,
    #00A1E4,
    #00A1E4 80px,
    #DC0073 80px,
    #DC0073 160px
  );
}

.mine-inner-container {
  display: flex;
  margin: 0 auto;
}

.mine-black-box {
  padding: 5vh;
  height: 80vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mine-header {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.mine-play-button-container {
  margin-top: 16vh;
}

.mine-button {
  background-color: #DC0073;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 16vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.mine-button:hover {
  color: black;
  cursor: pointer;
}

.mine-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20vh;
}

.mine-board-box {
  border: 2px solid white;
  color: white;
  font-size: 16px;
  text-align: center;
  height: 4vh;
  width: 4vh;
}

.mine-cell-bomb {
  background-color: red;
  // visibility: hidden;
}

.mine-cell-number {
  background-color: blue;
  // visibility: hidden;
}

// .mine-cell-hidden {
//   visibility: none;
// }
