.ox-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background: repeating-linear-gradient(
    45deg,
    #89FC00,
    #89FC00 80px,
    #00A1E4 80px,
    #00A1E4 160px
  );
}

.ox-inner-container {
  display: flex;
  margin: 0 auto;
}

.ox-black-box {
  padding: 5vh;
  height: 80vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ox-header {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.ox-play-button-container {
  margin-top: 16vh;
}

.ox-button {
  background-color: #89FC00;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 16vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.ox-button:hover {
  color: black;
  cursor: pointer;
}

.ox-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20vh;
}

.ox-game-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

td {
  // border: 1px solid white;
  height: 14vh;
  width: 14vh;
}

#ox-top-left {
  border-right: 8px solid white;
  border-bottom: 8px solid white;
}

#ox-middle-center {
  border: 8px solid white;
}

#ox-bottom-left {
  border-right: 8px solid white;
  border-top: 8px solid white;
}

#ox-top-right {
  border-left: 8px solid white;
  border-bottom: 8px solid white;
}

#ox-bottom-right {
  border-left: 8px solid white;
  border-top: 8px solid white;
}

.ox-player {
  color: rgba(0, 161, 228, 0.4);
  font-size: 48px;
  width: 20vw;
}

.ox-player-1 {
  text-align: right;
}

.ox-active-player {
  color: rgba(0, 161, 228, 1);
}

.ox-board-box {
  color: white;
  font-size: 64px;
  text-align: center;
}

.ox-winner {
  color: #89FC00;
}

.ox-draw {
  color: white;
}

.ox-play-again-button {
  color: #DC0073;
  font-size: 32px;
  margin-top: 2vh;
  animation: blink 3s linear infinite;
  animation-delay: blink 2s;
}

.ox-play-again-button:hover {
  color: white;
  cursor: pointer;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

// .ox-play-again-container {
//   text-align: center;
// }
