.pig-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto 0;
  background: repeating-linear-gradient(
    45deg,
    #89FC00,
    #89FC00 80px,
    #DC0073 80px,
    #DC0073 160px
  );
}

.pig-inner-container {
  margin-top: 10vh;
  padding: 5vh;
  height: 80vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pig-header {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.pig-play-button-container {
  margin-top: 16vh;
}

.pig-button {
  background-color: #89FC00;
  color: rgba(0, 0, 0, 1);
  height: 10vh;
  width: 16vw;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.pig-button:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
