<div class = "flash-container">
  <%= render "shared/navbar" %>
  <div class = "flash-inner-container">
    <div class = "flash-black-box">
      <h1 class = "flash-header">FLASH</h1>

      <div class = "flash-play-button-container">
        <a class = "flash-play-button flash-button">CLICK TO PLAY</a>
      </div>

      <div class = "flash-game hidden-delay">
        <p class = "flash-start-msg"></p>

        <a class = "flash-play-again-button hidden">PLAY AGAIN</a>
      </div>
    </div>
  </div>
</div>
