<div class = "flash-container">
  <%= render "shared/navbar" %>
  <div class = "flash-inner-container">
    <div class = "flash-black-box">
      <h1 class = "flash-header">FLASH (WIP 🛠)</h1>

      <div class = "flash-play-button-container">
        <a class = "flash-play-button flash-button">CLICK TO PLAY</a>
      </div>

      <div class = "flash-msg">
        <%# <p class = "flash-start-msg hidden-delay">GET READY...</p> %>
      </div>

      <div class = "flash-game hidden-delay">
        <div>
          <p class = "hidden">SCORE</p>
        </div>

        <div class = "flash-table-container">
          <table class = "flash-table">

          </table>
        </div>

        <div class = "flash-score-container">
          <%# <p class = "flash-score-header">SCORE</p>
          <p class = "flash-score">0</p> %>
        </div>

        <a class = "flash-play-again-button hidden">PLAY AGAIN</a>
      </div>
    </div>
  </div>
</div>
