<div class = "hangman-container">
  <div class = "hangman-inner-container">
    <h1 class = "hangman-header">HANGMAN</h1>

    <div class = "hangman-play-button-container">
      <a class = "hangman-play-button hangman-button">CLICK TO PLAY</a>
    </div>

    <div class = "hangman-game hidden-delay">
      <p class = "hangman-word"></p>
      <div class = "hangman-alphabet-1 hangman-alphabet"></div>
      <div class = "hangman-alphabet-2 hangman-alphabet"></div>
    </div>

  </div>
</div>
