<div class = "hangman-container">
  <div class = "hangman-inner-container">
    <h1 class = "hangman-header">HANGMAN</h1>

    <div class = "hangman-play-button-container">
      <a class = "hangman-play-button hangman-button">CLICK TO PLAY</a>
    </div>

    <div class = "hangman-game hidden-delay">
      <p class = "hangman-word"></p>
      <div class = "hangman-alphabet-1 hangman-alphabet">
        <div class = "hangman-alphabet-letter hangman-letter-a">A</div>
        <div class = "hangman-alphabet-letter hangman-letter-b">B</div>
        <div class = "hangman-alphabet-letter hangman-letter-c">C</div>
        <div class = "hangman-alphabet-letter hangman-letter-d">D</div>
        <div class = "hangman-alphabet-letter hangman-letter-e">E</div>
        <div class = "hangman-alphabet-letter hangman-letter-f">F</div>
        <div class = "hangman-alphabet-letter hangman-letter-g">G</div>
        <div class = "hangman-alphabet-letter hangman-letter-h">H</div>
        <div class = "hangman-alphabet-letter hangman-letter-i">I</div>
        <div class = "hangman-alphabet-letter hangman-letter-j">J</div>
        <div class = "hangman-alphabet-letter hangman-letter-k">K</div>
        <div class = "hangman-alphabet-letter hangman-letter-l">L</div>
        <div class = "hangman-alphabet-letter hangman-letter-m">M</div>
        <div class = "hangman-alphabet-letter hangman-letter-n">N</div>
        <div class = "hangman-alphabet-letter hangman-letter-o">O</div>
        <div class = "hangman-alphabet-letter hangman-letter-p">P</div>
        <div class = "hangman-alphabet-letter hangman-letter-q">Q</div>
        <div class = "hangman-alphabet-letter hangman-letter-r">R</div>
        <div class = "hangman-alphabet-letter hangman-letter-s">S</div>
        <div class = "hangman-alphabet-letter hangman-letter-t">T</div>
        <div class = "hangman-alphabet-letter hangman-letter-u">U</div>
        <div class = "hangman-alphabet-letter hangman-letter-v">V</div>
        <div class = "hangman-alphabet-letter hangman-letter-w">W</div>
        <div class = "hangman-alphabet-letter hangman-letter-x">X</div>
        <div class = "hangman-alphabet-letter hangman-letter-y">Y</div>
        <div class = "hangman-alphabet-letter hangman-letter-z">Z</div>
      </div>
      <div class = "hangman-lives"><i class="fa-solid fa-heart fa-solid-hangman"></i><i class="fa-solid fa-heart fa-solid-hangman"></i><i class="fa-solid fa-heart fa-solid-hangman"></i><i class="fa-solid fa-heart fa-solid-hangman"></i><i class="fa-solid fa-heart fa-solid-hangman"></i><i class="fa-solid fa-heart fa-solid-hangman"></i></div>
    </div>

  </div>
</div>
