<div class = "mine-container">
  <%= render "shared/navbar" %>
  <div class = "mine-inner-container">
    <div class = "mine-black-box">
      <h1 class = "mine-header">MINESWEEPER</h1>

      <div class = "mine-play-button-container">
        <a class = "mine-play-button mine-button">CLICK TO PLAY</a>
      </div>

      <div class = "mine-game hidden-delay">

        <div class = "mine-board">
          <div class = "mine-result mine-result-left">
          </div>

          <div class = "mine-table-container">
            <table class = "mine-table">

            </table>
          </div>

          <div class = "mine-result mine-result-right">
          </div>
        </div>

        <a class = "mine-play-again-button hidden">PLAY AGAIN</a>
      </div>
    </div>
  </div>
</div>
