<div class = "ox-container">
  <%= render "shared/navbar" %>
  <div class = "ox-inner-container">
    <div class = "ox-black-box">
      <h1 class = "ox-header">NOUGHTS AND CROSSES</h1>

      <div class = "ox-play-button-container">
        <a class = "ox-play-button ox-button">CLICK TO PLAY</a>
      </div>

      <div class = "ox-game hidden-delay">

        <a class = "ox-play-again-button hidden">PLAY AGAIN</a>
      </div>
    </div>
  </div>
</div>
