<div class = "ox-container">
  <%= render "shared/navbar" %>
  <div class = "ox-inner-container">
    <div class = "ox-black-box">
      <h1 class = "ox-header">NOUGHTS AND CROSSES</h1>

      <div class = "ox-play-button-container">
        <a class = "ox-play-button ox-button">CLICK TO PLAY</a>
      </div>

      <div class = "ox-game hidden-delay">

        <div class = "ox-game-inner">

          <p class = "ox-player ox-player-0 ox-active-player">PLAYER O</p>

          <div class = "ox-board">
            <table>
                <tr>
                    <td id = "ox-top-left"></td>
                    <td id = "ox-top-center"></td>
                    <td id = "ox-top-right"></td>
                </tr>
                <tr>
                    <td id = "ox-middle-left"></td>
                    <td id = "ox-middle-center"></td>
                    <td id = "ox-middle-right"></td>
                </tr>
                <tr>
                    <td id = "ox-bottom-left"></td>
                    <td id = "ox-bottom-center"></td>
                    <td id = "ox-bottom-right"></td>
                </tr>
            </table>
          </div>

          <p class = "ox-player ox-player-1">PLAYER X</p>

        </div>

        <a class = "ox-play-again-button hidden">PLAY AGAIN</a>

      </div>
    </div>
  </div>
</div>
