<div class = "pig-container">
  <%= render "shared/navbar" %>
  <div class = "pig-inner-container">
    <div class = "pig-black-box">
      <h1 class = "pig-header">PIG GAME</h1>

      <div class = "pig-play-button-container">
        <a class = "pig-play-button pig-button">CLICK TO PLAY</a>
      </div>

      <div class = "pig-game hidden-delay">
        <div class = "pig-game-inner">

          <div class = "pig-player pig-player-0 pig-active-player">
            <h2>PLAYER ONE</h2>
            <p class = "pig-score pig-score-0">0</p>
            <div class = "pig-now">
              <p class = "pig-round-0">THIS ROUND</p>
              <p class = "pig-current pig-current-0">0</p>
            </div>
          </div>

          <div class = "pig-player pig-player-1">
            <h2>PLAYER TWO</h2>
            <p class = "pig-score pig-score-1">0</p>
            <div class = "pig-now">
              <p class = "pig-round-1">THIS ROUND</p>
              <p class = "pig-current pig-current-1">0</p>
            </div>
          </div>

          <i class = "fa-solid fa-dice"></i>
          <i class = "pig-dice hidden"></i>
          <button class = "pig-btn pig-btn-roll">ROLL</button>
          <button class = "pig-btn pig-btn-hold">HOLD</button>
        </div>

        <div class = "pig-play-again-container">
          <a class = "pig-play-again-button hidden">PLAY AGAIN</a>
        </div>
      </div>

    </div>
  </div>
</div>
