<div class = "pig-container">
  <div class = "pig-inner-container">
    <h1 class = "pig-header">ANAGRAM</h1>

    <div class = "pig-play-button-container">
      <a class = "pig-play-button pig-button">CLICK TO PLAY</a>
    </div>

    <div class = "pig-game hidden-delay">
    </div>

  </div>
</div>
