<div class = "pig-container">
  <%= render "shared/navbar" %>
  <div class = "pig-inner-container">
    <div class = "pig-black-box">
      <h1 class = "pig-header">PIG GAME</h1>

      <div class = "pig-play-button-container">
        <a class = "pig-play-button pig-button">CLICK TO PLAY</a>
      </div>

      <div class = "pig-game hidden-delay">
      </div>

    </div>
  </div>
</div>
