<div class="games-container">
  <h1 class="games-header fade-in">PICK A GAME</h1>
</div>

  <div class="game-box-container">
    <div class="game-box">
      <h3>HANGMAN</h3>
    </div>
    <div class="game-box">
      <h3>FLASH</h3>
    </div>
    <div class="game-box">
      <h3>O AND X</h3>
    </div>
    <div class="game-box">
      <h3>MINESWEEPER</h3>
    </div>
    <div class="game-box">
      <h3>ANAGRAM</h3>
    </div>
    <div class="game-box">
      <h3>PIG</h3>
    </div>
  </div>
