<div class="games-container">
  <h1 class="games-header fade-in">PICK A GAME</h1>
</div>

  <div class="game-box-container">
    <div>
      <div class="game-box animate-pop animate-pop-1 show-hangman">
          <h3 class="game-name">HANGMAN</h3>
      </div>
      <div>
        <div class="hangman-window hidden">
          <i class="fa-solid fa-xmark close-hangman"></i>
          <p>Guess correctly before you lose all your lives!</p>
        </div>
        <div class="overlay-hangman hidden"></div>
      </div>
    </div>

    <div class="game-box animate-pop animate-pop-2">
      <h3 class="game-name">FLASH</h3>
    </div>
    <div class="game-box animate-pop animate-pop-3">
      <h3 class="game-name">O AND X</h3>
    </div>
    <div class="game-box animate-pop animate-pop-4">
      <h3 class="game-name">MINESWEEPER</h3>
    </div>
    <div class="game-box animate-pop animate-pop-5">
      <h3 class="game-name">ANAGRAM</h3>
    </div>
    <div class="game-box animate-pop animate-pop-6">
      <h3 class="game-name">PIG</h3>
    </div>
  </div>

  <script>




  </script>
