.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-header:hover {
  transform: rotateY(360deg);
  color: #DC0073;
}

.main-header {
  font-size: 30vh;
  font-weight: 700;
  transition: 3s;
}
