// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  display: flex;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-top: -6vh;
}

.navbar-button {
  color: white;
  margin-top: 2vh;
  font-size: 32px;
}

.navbar-button:hover {
  cursor: pointer;
  color: black;
}
